body{
	overflow-x: hidden;
	font-family: 'Rubik', sans-serif;
}
.logo img{
	width: 190px;
}

.login{
	padding-top: 30px;
}

.btn.btn-primary, .btn.btn-filled:hover{
	padding: 10px 40px;
	border-radius: 32px;
	background: none;
	color: #ED1651;
	border-color: #ED1651;	
	font-family: Rubik;	font-size: 16px;	font-weight: 500;	line-height: 16px;
}

.btn.btn-filled, .btn.btn-primary:hover{
	padding: 10px 40px;
	border-radius: 32px;
	background: #ED1651;
	color: #fff;
	border-color: #ED1651;
	font-weight: 800;
	font-size: 16px;
}

.btn.btn-blue{
	padding: 10px 40px;
	border-radius: 32px;
	background: #3b5999;
	color: #fff;
	border-color: #3b5999;
	font-weight: 800;
	font-size: 16px;
}
input.blueborder{
	padding: 9px 5px;
	border: 1px solid #a9cae1;
	border-radius: 18px;
	width: 48px;
	text-align: center;
}
.pull-left{
	float:left;
}

.pull-right{
	float:right;
}

.menu-footer-menu-2-container{
	display: inline-block;
}

.footer-section-wrapper{
	background: #003c59;
	margin-bottom: -30px;
	padding-top: 50px;
}

.splitline{
	padding:15px;
	border-bottom: 1px solid #fff;
}

.social-footer span a img{
	width:30px;
}

.header-boxshadow{
	/*border-bottom: 2px solid #cce0ed;*/
}

@media screen and (min-width: 1400px){
	/*.header-boxshadow{*/
		/*width:80%;*/
		/*margin-left: 10%;*/
	/*}*/
}

@media screen and (max-width:1400px){
	.header-boxshadow{
		width:100%;
	}	
}

.et_social_media_wrapper{
	display: inline;
}

img.avatar{
	width: 35px;
	border-radius: 50%;
}

.post-categories li{
	list-style-type: none;
	float: left;
}

.post-categories li{
	margin-left: 15px;
}

.cblack{
	color: #393939;
}

#content #snippet-box{
	width: 100%;
	border: none !important;	
}

.snippet-markup{
	padding:15px 0;
}

.snippet-label{
	box-sizing: border-box;
	border-right: 1px solid #a9cae1;
}

.clearfix{
	float: none;
	clear: both;
}

.author-section{
	display: flex;
	padding: 30px 10px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin:10px 0;
}

.pagination_section div{
	display: inline;
}

h1{
	border: none;
}

.blog-page-title{
	color: #4A4A4A;	font-family: Rubik;	font-size: 48px;	font-weight: 500;	line-height: 48px;
	text-align: center;
}

h1.entry-title a{
	text-decoration: none;
	color: #2B7DB6;	font-family: Rubik;	font-size: 24px;	font-weight: 500;	line-height: 32px;
}

.post-preview:nth-child(3n+1){
	clear: both;	
}

.section_title{
	color: #004a73;
	font-weight: 700;
	padding:40px 0;
}

.form-section-wrapper .form-box{
	margin-top: 380px;
	position: relative;
	padding: 30px 80px;
}

.img-back-wrapper,.mobile-app-back{	
	width: 100vw;
	position: relative;
	margin-left: -50vw;	
	margin-top: 100px;
	left: 50%;
}

.imgback_widget_content{
	width: 440px;
	margin: 0 auto;
	padding-top: 200px;
	text-align: center;
	padding-bottom: 100px;
}
.imgback_widget_content h1 em{
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
}
.imgback_widget_content h1{
	font-size: 2.5em;
	color: white;
}

.mobileapp_img_wrapper img{
	margin-top: -140px;
}

.mobile-app-back{
	margin-top: 435px;
}
.mobile-app-back .text_content{
	padding-top: 50px;
}

.cwhite{
	color: white;
}

.form-section-wrapper .form-box h1.tag_line{
	position: absolute;
	top: -170px;
	right: 50px;
	color: white;	
	font-family: Rubik;	font-size: 48px;	font-weight: 500;	line-height: 28px;
}

input{
	box-shadow: none;
}

.signup_widget input{
	box-shadow: none;
	border:none;
	border-bottom: 2px solid #09547b;
}

#birthday_wrapper .dropdown{
	display: inline;
}
#birthday_wrapper button.dropdown-toggle{
	border: none;    
	background: none;
	border-bottom: 2px solid #09547b;
	border-radius: 0;
}

#birthday_wrapper span.caret{
	color: #09547b;
}

.signup_widget h2 { width:100%; text-align:center; border-bottom: 1px solid #c6e0ec; line-height:0.1em; margin:40px 0 35px; color:#004a73;} 
.signup_widget h2 span { background:#fff; padding:0 10px; }

#login_btns_section a.btn-white{
	border: 1px solid #aaa;
	color: #aaa;
	font-weight: 800;
	font-size: 16px;
	border-radius: 32px;
	padding: 10px 40px;
}

.text-center{
	text-align: center;
}

.post_title,.post_title:hover{
	text-decoration: none;
	color: #23527c;
}

.success-section-wrapper-wrapper,.blog-section-wrapper{
	padding-top:50px;
}

a{
	color:#2a7cb5;
}

.btn{
	margin-left: 10px;
	margin-right: 10px;
}

.latest-slide .img_wrapper{
	min-height: 400px;
}

.latest-slide #content{
	background-color: rgba(0,0,0,0.5);
	min-height: 400px;
	padding: 39px;
}

.latest-slide{
	margin-bottom: 40px;
}

.latest-slide .post_title{
	color: #FFFFFF;	font-family: Rubik;	font-size: 32px;	font-weight: bold;	line-height: 40px;
}

/* Using Invision App */
.breadcrumbs{
	
	font-family: Rubik;	
	font-size: 14px;		
	line-height: 17px;
}

.breadcrumbs a{
	color: #2B7DB6;	
	font-weight: 500;	
}

.post-categories li a, .post-categories li a:hover{	
	text-decoration: none;		
	color: #4A4A4A;	
	font-family: Rubik;	
	font-size: 14px;	
	font-weight: bold;	
	line-height: 17px;
}

.h1title{
	color: #4A4A4A;	
	font-family: Rubik;	
	font-size: 48px;	
	font-weight: bold;	
	line-height: 56px;
}

.bio-info span{
	color: #4A4A4A;	
	font-family: Rubik;	
	font-size: 16px;	
	line-height: 32px;
}

.snippet-markup .snippet-data{
	color: #4A4A4A;	font-family: Rubik;	font-size: 18px;	line-height: 40px;
}
.snippet-markup .snippet-label{
	color: #4A4A4A;	font-family: Rubik;	font-size: 18px;	font-weight: 500;	line-height: 40px;
}

.small-post-categories li a, .small-post-categories li a:hover{
	color: #4A4A4A;	font-family: Rubik;	font-size: 14px;	font-weight: 300;	line-height: 16px;
}

.author-section .bio-photo img{
	width: 64px;
}

.author-section .bio-text{
	padding-left: 10px;
	color: #4A4A4A;	font-family: Rubik;	font-size: 16px;	line-height: 24px;
}

.footer-section-wrapper .upper-nav a{
	color: #FFFFFF;	font-family: Rubik;	font-size: 15px;	line-height: 32px;font-weight: 500;
}

.footerlower.lower-nav{
	color: #FFFFFF;	font-family: Rubik;	font-size: 15px;	line-height: 15px;
}

#snippet-box .snippet-title{
	box-sizing: border-box;	
	padding-left: 25px;
	color: #FFFFFF;	font-family: Rubik;	font-size: 18px;	font-weight: 500;	line-height: 24px;
}
.login span{	
	margin-right: 15px;
	color: #4A4A4A;	font-family: Rubik;	font-size: 16px;	line-height: 19px;
}

.mobile-app-back .text_content h1{
	font-family: Rubik;	font-size: 32px;	font-weight: 500;	line-height: 28px;
}
.mobile-app-back .text_content p{
	font-family: Rubik;	font-size: 16px;	line-height: 24px;}
}

.mobile-app-back .text_content a.btn.btn-blue{
	background-color: #56A0D3;
}
.full-width{
	max-width: 1490px;
	width: 100vw;
	position: relative;
	margin-left: -50vw;	
	margin-top: 100px;
	left: 50%;
}