$white: #ffffff;
$black: #000;
$blue: #2880ab;
$blue-grad: #4fa7d3;
$pink: #c93092;
$light-pink: #ef46bd;
$light-yellow-bg: #fbf7de;
$yellow: #eac20d;
$x-dark-gray: #505050;
$dark-gray: #707070;
$light-gray: #929292;
$x-light-gray: #cccccc;
$dark-blue: #4e6e86;
$light-blue: #5d86a5;
$green: #81cd53;
$light-gray-bg: #eeeeee;
$x-light-gray-bg: #f7f7f7;
$error-red: #cc0000;
$dark-error-red: #990000;
$danger-red: #b3262b;
$info-green: #009900;
$logo-black: #3d3c3e;
$logo-pink: #cc55a3;
