@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

$default-font: 'Lato', Helvetica, Arial, sans-serif;

$light-font-weight: 300;
$normal-font-weight: normal;
$heavy-font-weight: bold;
