@import "includes/colors";

em {
  font-style: italic;
}

.blog-content {
  strong { 
    font-weight: bold;
    color: #444;
  }
}

.menu-footer-menu-4-container {
  display: inline-block;
}
#menu-footer-menu-1, #menu-footer-menu-2, #menu-footer-menu-3, #menu-footer-menu-4 {
  display: inline-block;
  margin: 0;

  li {
    list-style: none;
    display: inline-block;
    margin-left: 0;

    &:after {
      padding-left: 3px;
      padding-right: 3px;
      content: "|"
    }

    &:last-child:after {
      content: none;
    }
  }
}

.blog-sidebar {
  text-align: left;
  .textwidget {
    font-size: 14px;
  }
  li {
    list-style: none; 
    margin: 0 0 4px 0;
    font-size: 14px;
  }
  .post-author {
    display: inline; 
    font-style: italic;
    &:before { content: "by "}
  }

  .bio-photo {
    font-size: 14px;
  }

  .bio-photo {
    img {
      float: left;
      border: 1px solid #929292;
      padding: 3px;
      margin: 0 8px 8px 0;
    }
  }
  .blog_recent_link {
    margin: 0 0 4px 0;
  }
}

.breadcrumbs {
  text-align: left;
  margin-bottom: 1em;
}

.site-map-container {
  ul.menu {
    text-align: left;

    li {
      list-style: none;
      font-size: 18pt;

      a:not([href]) {
        color: $dark-gray;
        text-decoration: none;
        &:hover { text-decoration: none; }
      }

      ul.sub-menu li {
        font-size: 16px;
      }
    }
  }
}

.featured-image-block {
  background-size: cover;
  padding-top: 340px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: right;
  margin-bottom: 20px;

  h1 {
    display: inline-block;
    padding: 40px;
    border-bottom: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 38px;
    font-weight: 400;
    text-align: right;
    margin: 0;
    
    a {
      color: $white;
    }
    a:hover { text-decoration: none; }
  }
}

.post-preview {
  .featured-image-block {
    background-position: 50% 30%;
    padding: 0;
    position: relative;
    height: 338px;

    h1 { 
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 32px;
    }
  }

  .read-more {
    text-align: right;
  }
  .read-more a:after {
    content: "..."
  }
  p {
    font-size: 20px;
  }
}

#comments {
  li.comment {
    list-style: none;
    margin-left: 0;
    margin-bottom: 1em;
  }
  input[type="submit"] {
    @extend .btn;
    @extend .alt;
    @extend .heart;
  }
}

.grid-container {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

@media only screen and (max-width: 40em) {
  .featured-image-block {
    h1 { padding: 10px; }
  }
}
